body {
    background-color: #F6F7F8;
}

.navfoot {
    background-color: #3F0F3F;
    color: #ECE7EC
}

.about {
    font-family: 'Catamaran', sans-serif;
    font-size: 125%;
}

h4 {
    font-family: 'Catamaran', sans-serif;
}

.name {
    font-family: 'Catamaran', sans-serif;
}

.code {
    font-family: 'Source Code Pro', monospace;
}

.meImg {
    margin: 1em 0;
    padding: 0;
}

.iconFooter {
    width: 30px;
}

/* ///////////// */

.devicon-git-plain {
    max-width: 3em;
}

.laboratoria {
    max-width: 10em;
}

.footer{
   background-color: #ECE7EC
}

