body {
    background-color: #F6F7F8;
}


.navbar {
    background-color: #3F0F3F;
}

.about {
    font-family: 'Catamaran', sans-serif;
    font-size: 100%;
}

h4 {
    font-family: 'Catamaran', sans-serif;
}

.name {
    font-family: 'Catamaran', sans-serif;
}

.code {
    font-family: 'Source Code Pro', monospace;
}